/EX1/Sistema_de_Equipamentos/nbproject/private/
/EX1/Sistema_de_Equipamentos/build/
/EX2/Sistema_Processo_de_Pagamentos/nbproject/private/
/EX2/Sistema_Processo_de_Pagamentos/build/
/EX2/Sistema_Processo_de_Pagamentos/dist/
/EX2/Sistema_de_Controle/nbproject/private/
/EX2/Sistema_de_Controle/build/
/EX2/Sistema_de_Notificacao/nbproject/private/
/EX2/Sistema_de_Notificacao/build/
/EX2/Sistema_de_Notificacao/dist/
